<html>
<head>
<title>Trailer Reel</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="/assets/youtubecarousel.css" type="text/css">
</head>

<body>
<div id="yt_container"></div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/assets/jquery.youtubecarousel.js"></script>
</body>
</html>
